<?xml version="1.0"?>
<DatabaseConnectionSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Server>AIOS18a</Server>
  <Database>Stefanini</Database>
  <Schema>dbo</Schema>
  <IntegratedSecurity>true</IntegratedSecurity>
  <User></User>
  <Password></Password>
</DatabaseConnectionSettings>
